<% if @instructors.empty?%>
<p>Nenhum professor disponível</p>
<% end %>

<% @instructors.each do |instructor| %>
<h3><%= link_to instructor.name, instructor %></h3>
<% end %>
<br>
<%= link_to 'Registrar um Professor', new_instructor_path %>
<%= link_to 'Voltar', root_path %>
