  <% if @lessons.empty? %>
 <p>Nenhuma Aula disponível</p>
<% else %>
<% @lessons.each do |lesson| %>
<h1><%= link_to_if current_student && current_student.courses.include?(@course), lesson.name, [@course, lesson] %></h1>
<% end %>
<%= link_to t('links.back'), courses_path, class:"btn btn-outline-dark" %>
 <% end %>


