
<div class="card" style="width: 27rem;">
  <div class="card-body">
    <h5 class="card-title">Nome: <%= @lesson.name %></h5>
    <p class="card-text">Descrição:  <%= @lesson.description %></p>
    <p class="card-text">Duração:  <%= "#{@lesson.duration} minutos"%></p>
    <%= link_to t('links.back'), course_lessons_path, class:"btn btn-outline-dark"%>

  </div>
</div>